[Desktop Entry]
Type=Application
Name=hdf
GenericName=Dotfile Manager
Comment=Sync your dotfiles across your machines
Exec=hdf-gui-vanilla
Icon=hdf
Terminal=false
Categories=Utility;
Keywords=dotfiles;git;config;
